.contacts {
    margin-top: 80px;
    padding-top: 40px;
    margin-bottom: 80px;
}

.jumbotron { 
	margin-top: 20px;
    background-color: #ffffff; 
    color: #000000;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.jumbo-text {
	margin-left: 25%;
	margin-right: 25%;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00aa00 !important;
    background-color: #000 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
}

.poster {
	width:200px;
  	height:270px;	
  	margin-bottom: 5px;
}

.bigposter {
    width:330px;
    height:445px;   
    margin-bottom: 5px;
}

.smallposter {
    width:100px;
    height:135px;   
    margin-bottom: 5px;
}

a, a:hover {
	color: #00aa00;
}

.top-buffer {
    margin-top: 40px;
}

.bottom-buffer {
    margin-bottom: 40px;
}

.products-buffer {
    margin-top: 60px;
}
.fabpills {
    color: black;
}

.form-inline > * {
   margin:0px 10px;
}