<?php
return [
    'database' => [
        'name' => 'fabposters',
        'username' => '',
        'password' => '',
        'connection' => 'mysql:host=127.0.0.1',
        'options' => [
            PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
        ]
    ],
    'merkato' => [
        'id' => '',
        'secret' => '',
        'redirect_uri' => 'http://localhost:8887/auth/callback'
    ]
];

